@use "../assets/variables" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-background-color;
  color: $black;
  font-family: $secondary-font;
  letter-spacing: 0.09rem;
  min-width: 300px;
}

.form-container {
  margin: auto;
  padding-top: 6rem;
  width: 70%;
}

.guest-info-container {
  background-color: $secondary-background-color;
  border-radius: 1rem;
  padding: 3rem;
}

//header
.header-container {
  color: $white;
  text-align: center;
}

.title {
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: $bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.paragraph-container {
  font-size: 1.1rem;
  margin: 3rem 0;
}

//name, email, phone, checked, date. time
.name-container {
  display: flex;
}

.first-container,
.last-container {
  margin-bottom: 1.5em;
  width: 50%;
}

.guest-label,
.time-label {
  font-size: 1rem;
  font-weight: $bold;
}

.last-container {
  margin-left: 1rem;
}

#first,
#last,
#email,
#phone, {
  border: 1px solid $black;
  margin-top: 0.4rem;
  padding: 0.8rem;
  width: $max-width-percent;
}

.email-container,
.phone-container,
.guest-checked-container,
.date-container {
  margin-bottom: 1.5rem;
}

.guest-checked-inner-container {
  margin-top: 0.5rem;
}

.guest-number {
  padding: 0 0.8rem 0 0.4rem;
}

.guest-input {
  border: 1px solid $black;
  margin-top: 1rem;
  padding: 0.8rem;
  width: $max-width-percent;
}

.guest-input::-webkit-outer-spin-button,
.guest-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.guest-input[type=number] {
  -moz-appearance: textfield;
}

//date
.date {
  background-color: $white;
  border: 1px solid $black;
  font-family: $secondary-font;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  padding: 0.8rem;
  width: $max-width-percent;
}

//time
.time-label {
  margin: 0;
}

.time-btn {
  background-color: $white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: $bold;
  height: 3rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
  padding: 0.8rem;
  width: 5rem;
}

.selected-time {
  background-color: $selected-button-color;
  color: $white;
}

//button
.button-container {
  padding-top: 2.5rem;
  text-align: right;
}

.confirm-btn {
  background-color: $selected-button-color;
  border-color: $selected-button-color;
  border-radius: 0.5rem;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: $bold;
  letter-spacing: 0.05rem;
  padding: 1rem;
  text-transform: uppercase;
}

//footer
.author-ftr {
  color: $white;
  padding-bottom: 6rem;
  text-align: center;
}

.author {
  font-size: 0.8rem;
}